<div class="grid-container" style="width:auto">
    <div style="padding-top:20px" >
        <img src="https://i.pinimg.com/564x/93/9f/16/939f164dd2d5f80b40ab520357984fb3.jpg"/>
    </div>
    <div style="grid-row:1/3; grid-column-start:2">
        <img style="margin-top: 17%;" src="https://i.pinimg.com/564x/b9/b3/60/b9b360e20cc8a183ca05537c65f0e611.jpg"/>
    </div>
    <div style="padding-bottom:20px">
        <img src="https://i.pinimg.com/564x/0c/28/a7/0c28a7d026d8993e01bfc67aac41bd59.jpg" />
    </div>
    <div class="child">
        <h1 class="h1">Welcome To IGNITE Gym!</h1>
        <div class="text">Taking working out and fitness to a whole new level. Inspirational facilities from the moment you walk in.</div>
        <div style="text-align:center; opacity:1.0">@Html.ActionLink("To see our Coaches", "CoachIndex", new { }, new { @class = "btn mybtn" })</div>
        <div style="text-align:center">@Html.ActionLink("To see our Activities", "FitProgramIndex", new { }, new { @class = "btn mybtn" })</div>
    </div>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-rows: repeat(2, auto);
        gap: 15px;
        padding: 10px;
        position: relative;
    }
        .grid-container > div {
            text-align: center;

        }
    img {
        border-radius: 10%;
        /*max-width: 100%;
        min-width: 20%;*/
        height: auto;
    }
    .child {
        max-width: 38.5%;
        /*max-height: 41%;
        min-height:auto;*/
        background: #ffffffac;
        border: 3px dotted #ffffffac;
        border-radius: 20%;
        position: absolute;
        top: 30%;
        left: 30%;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }

    .h1{
        color:#000000;
        padding:5px;
        max-height:25%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .text {
        margin-left: 10px;
        margin-right: 10px;
        color: #000000;
        padding: 5px;
        max-height: 30%;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .mybtn {
        padding:10px;
        margin:5px;
        font-size: 20px;
        color: #000000;
        font-size: medium;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #ffffff;
        border-radius:20px;
    }

        .mybtn:hover {
            background-color: #000000;
            color: #ffffff;
        }

</style>