<div style="margin-top:15px;">
    <div class="container ">
        <div class="row">
            <div class="col-6 col-md-6">
                <img style="width:100%" src="https://i.pinimg.com/564x/93/9f/16/939f164dd2d5f80b40ab520357984fb3.jpg" />
            </div>
            <div class="col-6 col-md-6" style="margin-top:30px">
                <img style="width:100%" src="https://i.pinimg.com/564x/b9/b3/60/b9b360e20cc8a183ca05537c65f0e611.jpg" />
            </div>

        </div>
        <div>
            <div class="col-6 col-md-6">
                <img style="width:100%" src="https://i.pinimg.com/564x/0c/28/a7/0c28a7d026d8993e01bfc67aac41bd59.jpg" />
            </div>
        </div>

    </div>
</div>





