@model IEnumerable<ExamAspNet.Models.Coach>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h2>History</h2>
    </div>
    <div class="modal-body">
        @foreach (var mes in ViewBag.Messages)
        {
            var sender = Model.Where(x=> x.Id == mes.SenderId).FirstOrDefault();
            string sName = sender == null ? "admin" : sender.Name;
            <div class="message">
                <div class="at">
                    From: @sName
                </div>
                <div class="at">
                    To: @ViewBag.User.Name
                </div>
                <div class="text">
                    @mes.Text
                </div>
            </div>
        }
    </div>
</div>

<style>
    .message {
        padding: 10px;
        background-color: #bfe3fe;
        border: 0.5px solid #258cd9;
        margin-bottom: 5px;
    }

    .at {
        text-align: left;
        font-weight: bold;
    }

    .text {
        padding: 10px;
        background-color: #ffffff;
        border: 0.5px solid #ffffff;
    }
</style>
